@layer components {
  .SideNav {
    @apply transition-all duration-500 dk:w-[300px] tb:w-[260px] border-r p-[1rem]
    hidden tb:inline-flex dk:inline-flex fade-in flex-col pb-[2rem] fixed  z-10;
  }

  .SideNav__h3 {
    @apply tracking-[2.4px] text-sm mb-[1.5rem] px-4 font-bold;
  }

  .SideNav__boardlist {
    @apply max-h-[600px] min-h-[300px] overflow-y-auto flex-grow;
  }

  .SideNav__boardlist-btn {
    @apply w-full flex items-center space-x-4 px-5 py-4 rounded;
  }

  .SideNav__boardlist-btn-active {
    @apply bg-lghtaccent text-darktext dark:bg-drksecondary-800 shadow-md;
  }

  .SideNav__boardlist-btn-inactive {
    @apply hover:bg-secondary-200 hover:dark:bg-drksecondary-900 
    dark:text-drksecondary-700;
  }

  .SideNav__cont-createbrd {
    @apply flex items-center space-x-4 px-5 py-4 my-[1rem] mb-auto rounded  hover:bg-secondary-200 hover:dark:bg-drkprimary-800;
  }

  .SideNav__btn-createbrd {
    @apply text-md text-lghtprimary dark:text-darkprimary;
  }

  .SideNav__cont-switch {
    @apply w-full h-full mx-auto flex items-end py-[2rem];
  }

  .SideNav__innercont-switch {
    @apply flex items-center border border-lghtaccent dark:border-darksecondary 
    rounded justify-between w-full h-[3rem] mx-auto p-2 dk:p-3 bg-lghtbackground 
    dark:bg-darkbackground;
  }
  
  .SideNav__btn-reveal-nav {
    @apply absolute bottom-[2rem] right-[-4rem] cursor-pointer bg-darkbackground text-white dark:text-lghttext 
    dark:bg-darkprimary rounded p-1 hover:scale-110 transition duration-200;
  }
};
